*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: darken($color: $fondo, $amount: 40);
    color: $blanco;
}
button{
    cursor: pointer;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    gap: 2rem;

    @include pc() {
        flex-direction: row;
        max-width: 1300px;
        justify-content: space-between;
        align-items: start;
    }
}

.formulario{
    flex: 0 1 50%;
}

.listado{
    flex: 0 1 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titulo{
    text-align: center;
    margin: 2.8rem 0 1.4rem 0;
}

.formulario__container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

}
.formulario__input{
    font-size: 1.2rem;
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $blanco;
    outline: none;
    width: 90%;

    &::placeholder{
        color: rgb(160, 158, 158);
    }

}

.boton_enviar{
    display: block;
    width: 90%;
    font-size: 1.4rem;
    background-color: $botones;
    border: none;
    border-radius: 10px;
    padding: 0.4rem 0;

    &:hover{
        transform: scale(1.05);
    }

}

.paciente__contenedor{
    color: $negro;
    background-color: $blanco;
    width: 90%;
    border-radius: 20px;
    border: 1rem;
    margin: 0.6em;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 0.2rem;

    @include pc() {
        width: 50%;
    }
   
}

.paciente__borrar{
    display: block;
    background-color: red;
    color: $blanco;
    width: 90%;
    margin: 0 auto;
    border: none;
    font-size: 1.1rem;
    margin: .4rem 0;
    border-radius: 10px;
    padding: .4rem 0;
}

.paciente__editar{
    padding: .4rem 0;
    display: block;
    background-color: yellow;
    color: black;
    width: 90%;
    margin: 0 auto;
    border: none;
    font-size: 1.1rem;
    margin: .4rem 0;
    border-radius: 10px;
}

.footer{
    background-color: $negro;
    color: $blanco;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 1.4rem;
    text-align: center;
    padding: 0.4rem 0;
  
}